{% extends 'web_site/layout.html'%}

{% block content %}
<div class="feature">
    <h1>О нас</h1>
    <p class="text-start-50">Историческая справка</p>
    <p class="text-start12">Общество с ограниченной ответственностью «Монтаж электрических сетей» было создано 19 апреля 2006 года.
        10 ноября 1999 года в Томске была основана компания по монтажу электрических сетей, с создания которой берет свое начало компания «МЭС». За годы успешной работы по поставкам оборудования и материалов, по проектированию, монтажу, ремонту и обслуживанию электрических сетей любой сложности компания стала в городе надежным партнером.</p>
        
</div>
{% endblock %}
{% block title %}(другая){% endblock %}

