{% extends 'web_site/layout.html'%}

{% block content %}
    <div class="feature">
        <h1>Главная страница</h1>
        <p class="text-start10">Компания «Монтаж Электрических Сетей» – это ваш надежный партнер в создании проектов любой сложности. Мы проводим электромонтажные работы на коммерческих и промышленных объектах, а также в индивидуальных жилых домах, квартирах или комплексах.</p>
        <p class="text-start">Главный принцип сотрудничества – все от «А» до «Я». Мы берем на себя всю техническую документацию, проектирование, согласование с проверяющими органами, согласование с графиками строительных и ремонтных работ, заказ и доставку необходимых материалов и оборудования, обслуживание и модернизацию электросетей.</p>
        <p class="text-start20">Обращайтесь к профессионалам – и вы всегда будете уверены в успехе!</p>
    </div> 
{% endblock %}

{% block title %}Главная страница{% endblock %}
