{% extends 'web_site/layout.html'%}

{% block content %}
<div class="feature">
    <h1>Вакансия</h1>
    <p class="textone">Инженер ПТО охранно-пожарных сигнализаций</p>
    <p class="text-start">Требования:</p>
    <p class= "text4">- высшее образование, опыт работы в электрике и слаботочных сетях (ОПС, видеонаблюдения, СКС);</p> 
    <p class="text-start1">- уверенный пользователь Auto-Cad, Microsoft Office;</p> 
    <p class="text-start2">- навыки работы со сметами;</p> 
    <p class="text-start3">- отсутствие вредных привычек;
    </p> 
</div>
{% endblock %}

{% block title %}Вакансии{% endblock %}